<div class="closeCSRSuccess">
    <div>
        <form action="/closeCSR/success/<%= brookdaleCrowdItem._id%>" method="POST">
            <input required class="mb-1" type="text" name="CSR_STATUS_MESSAGE" width="100%" placeholder="Say thank you to everyone who helped fund this.">
            <button type="submit" class="btn btn-lg btn-success">Funding Success!!</button>
        </form>
    </div>
    <div class="closeCSRFail">
        <form action="/closeCSR/failed/<%= brookdaleCrowdItem._id%>" method="POST">
            <input required  class="mb-1" type="text" name="CSR_STATUS_MESSAGE" width="100%" placeholder="Please explain why you are closing this request.">
            <button type="submit" class="btn btn-danger">Close Request</button>
        </form>
    </div>
</div>