
        <form id="createRequestForm" class="form-group" action="/create_new" method="POST">
            <input class="form-control" type="text" name="FIRST_NAME" placeholder="username">
            <input class="form-control" type="text" name="LAST_NAME" placeholder="username">
            <input class="form-control" type="text" name="USERNAME" placeholder="username">
            <textarea name="CSR_SUMMARY" id="" cols="30" rows="5" placeholder="Describe the request"></textarea>
            <input class="form-control" type="text" name="CSR_BUSINESS_VALUE" placeholder="username">
            <textarea name="CSR_PAY_FORWARD_DESC" id="" cols="30" rows="10" placeholder="Describe the request"></textarea>
            <input class="form-control" type="number" name="CSR_FUNDING_AMT_REQ" placeholder="username">
            <input class="form-control" type="date" name="CSR_FUNDING_DEADLINE" placeholder="username">
            
        </form>
