<form id="fundForm" method="POST" action="/fund_request/<%= brookdaleCrowdItem._id%>">
    <div class="form-group">
        <label for="fundFname">First Name</label>
        <input id="fundFname" class="form-control" name="FUNDER_FIRST_NAME" type="text" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="fundLname">Last Name</label>
        <input id="fundLname" class="form-control" name="FUNDER_LAST_NAME" type="text" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="fundUname">Brookdale User ID</label>
        <input id="fundUname" class="form-control" name="FUNDER_USERNAME" type="text" placeholder="Brookdale ID">
    </div>
    <div class="form-group">
        <label for="fundAmt">How much do you want to contribute?</label>
        <input id="fundAmt" class="form-control" name="FUNDING_AMT" type="number">
    </div>
    <button type="submit" class="btn btn-lg btn-outline-primary" >Fund now!!</button>
</form>