<div id="createModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title brookdaleBlue">New Brookdale Crowd Request</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%- include('./createNew') %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-danger" onclick="close('createModal')" data-dismiss="modal">Cancel</button>
                
            </div>
        </div>
    </div>
</div>


