    <div id="createModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%- include('./createNew') %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="close('createModal')" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createNew()">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    <div id="detailsModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Request Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <h1 id="username"></h1>
                        <p id="summary"></p>
                    </div>  
                    <form id="fundForm" method="POST">
                        <h1>PUT FORM HERE</h1>
                        <h2>Use button below to submit form</h2>
                        <input name="FUNDER_FIRST_NAME" type="text" placeholder="Enter your name">
                        <input name="FUNDER_LAST_NAME" type="text" placeholder="Enter your name">
                        <input name="FUNDER_USERNAME" type="text" placeholder="Enter your name">
                        <label for="">How much do you want to contribute</label>
                        <input name="FUNDING_AMT" type="number">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="close('detailsModal')" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="fundRequest()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
