<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<head>
    <link rel="stylesheet" href="/styles/faq.css">
</head> 
<%- include('./partials/navBar') %>
<body>
    <div class="container">
        <div class="row justify-content-left">
            <div class="col">
                <div class="tab-content panels-faq">
                    <div class="tab-pane active" id="tab1">
                        <div class="panel-group" id="help-accordion-1">
                            <div class="panel panel-default panel-help">
                                <a href="#faq1" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>There is a leraning and development budget?</h2>
                                    </div>
                                </a>
                                <div id="faq1" class="collapse in">
                                    <div class="panel-body">
                                        <p>Yes! In the past, managers have had control of this budget. Now all IT associates,
                                            including managers, get a part of this budget assigned to them. As of June 2018,
                                            each associate will be given $200 of the budget to spend by the end of the year.
                                            All associates are encouraged to take control of their own professional development.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-help">
                                <a href="#faq2" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>How does it work?</h2>
                                    </div>
                                </a>
                                <div id="faq2" class="collapse">
                                    <div class="panel-body">
                                        <p>Let's say there is an online training course, a conference, a workshop, a book, or
                                            something else that could help you in your professional development. Go spend
                                            your allotment of the training budget on it. Do it. Go spend it!
                                        </p>
                                        <p>
                                            If you do not have enough to cover the cost, that's were Brookdale Crowd comes into play. Simply create a new crowd request
                                            and spread the word. Once enough contributors have funded your request, then
                                            you can take the funded request to your manager for approval.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-help">
                                <a href="#faq5" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>Who decides if what I want to request is valid?</h2>
                                    </div>
                                </a>
                                <div id="faq5" class="collapse">
                                    <div class="panel-body">
                                        <p>With Brookdale Crowd, you are asking your peers to contribute money to your professional
                                            development. If what you are asking for does not seem to add any business value,
                                            then it will likely not be funded.
                                        </p>
                                        <p>
                                            Ultimately your manager must approve all requests.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-help">
                                <a href="#faq3" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>Do I need to spend all my own money before asking for funding?</h2>
                                    </div>
                                </a>
                                <div id="faq3" class="collapse">
                                    <div class="panel-body">
                                        <p>Yes. Please do not request money from your peers without first spending all the money
                                            you have available to you. However, if you are wanting to request someting beyond
                                            how much you have available, then just subtract your amount from the balance
                                            of the request.
                                        </p>
                                        <p>
                                            <strong>Example: </strong> I want to go to a confernce that costs $500. I have $150 left
                                            after buying an online course earlier in the year. So the Brookdale Crowd request
                                            that I fill out will ask for $350 to be funded.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-help">
                                <a href="#faq4" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>Is there a limit to how much I can ask for?</h2>
                                    </div>
                                </a>
                                <div id="faq4" class="collapse">
                                    <div class="panel-body">
                                        <p>No. But you should be realistic. If you need 30 associates to fund your request,
                                            it is most likely not going to happen.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-help">
                                <a href="#faq6" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>When do I get more money?</h2>
                                    </div>
                                </a>
                                <div id="faq6" class="collapse">
                                    <div class="panel-body">
                                        <p>
                                            Associates will get their training budget refilled at the beginning of each year. If everyone spends their money well, it
                                            is possible that there will be an increase the following year.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="panel-group" id="help-accordion-2">
                                    <div class="panel panel-default panel-help">
                                        <a href="#faq7" data-toggle="collapse" data-parent="#help-accordion-2">
                                            <div class="panel-heading">
                                                <h2> Who do I contact for more questions?</h2>
                                            </div>
                                        </a>
                                        <div id="faq7" class="collapse in">
                                            <div class="panel-body">
                                                <p>Please direct any questions to your manager. Don't hold back! Management
                                                    is excited about this platform.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>