#myColorPallet {
  color: #239f64;
  color: #0e7747;
  color: #6faa89;
  color: #084b84;
  color: #00539b;
  color: #f9642a;
}

.brookdaleBlue{
  color: #084b84;
}
.pageTitle {
  color: #084b84;
}
.h1SectionTitle {
  color: #084b84;
  border-bottom: 3px solid #084b84;
}
.brookdaleBtn {
  background-color: #084b84 !important;
}
.brookdaleBtn:hover {
  background-color: #f9642a !important;
}
.displayInline {
  display: inline;
}
dt {
  font-size: 2rem;
}
dd {
  font-size: 1.5rem;
}
.w-30{
  width: 30%;
}
.flexRight{
display: flex;
justify-content: flex-end
}
.closeCSRSuccess{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* find a better way to do
all this > > stuff with bootstrap */
.closeCSRSuccess > div{
height: 5rem;
width: 100%;
}
.closeCSRSuccess > div > form{
  display: flex;
  flex-direction: column;
}
.closeCSRSuccess > div > form > button{
  width: 50%;
  align-self: center;
}

.closeCSRFail{
  height: 3rem;
  width: 100%;
}

.closeCSRFail > form{
  display: flex;
  flex-direction: column;
}

.closeCSRFail > form > button{
width: 50%;
align-self: center;
}
/* 
Beta ribbon
*/
.corner-ribbon {
  width: 200px;
  background: #f9642a;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 99999;
}
.corner-ribbon.sticky {
  position: fixed;
}
.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.corner-ribbon.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
